*~
*.aux
*.bak
*.bbl
*.brf
*.blg
*.fdb_latexmk
*.fls
*.glo
*.idx
*.ilg
*.ind
*.ist
*.log
*.lof
*.lot
*.nav
*.out
*.snm
*.synctex.gz
*.toc
tags
tags.lock
tags.temp
.DS_Store
Icon?
libro.eix
tfg.synctex(busy)
